
@use '~bootstrap/scss/bootstrap.scss';

//$bg-color: #181a1b;
//overrides

$lineSize: 5rem;

.app {
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.spacer {
  margin-top: 40vh;
}

.grid-middle {
  grid-column-start: 2;
  grid-column-end: 4;
}

.content {
  //background-color: $bg-color;
  height: 100%;
  width: 100%;
  // grid-template-rows: 50% 50%;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 50% 50%;
}

.flex-container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  justify-content: space-evenly;
  overflow: scroll;
  display: flex;
  padding: 2rem;

  &__input {
    justify-content: flex-start;
  }
}

.inputForm {
  width: 30%;
}
